{% extends "main.html" %} {% block title %}FlaskTweets | About{% endblock %} {%
  block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About FlaskTweets</h1>
        <p>
          Welcome to FlaskTweets, a Twitter clone website built using Flask! We
          are a social media platform that aims to provide a seamless and
          enjoyable tweeting experience for our users.
        </p>
        <p>
          Our mission is to connect people and foster meaningful conversations
          through concise and engaging tweets. Whether you're a social media
          enthusiast, a news junkie, or just looking to connect with friends and
          like-minded individuals, FlaskTweets has got you covered!
        </p>
        <p>
          At FlaskTweets, you can create an account, customize your profile,
          follow other users, tweet, like, and retweet posts, send and receive
          direct messages, and much more. We are constantly working to improve and
          enhance the features of FlaskTweets to provide the best user experience.
        </p>
        <p>
          Thank you for choosing FlaskTweets! We hope you enjoy your time here and
          join our vibrant community of tweeters.
        </p>
        <p>
          If you have any questions or feedback, please don't hesitate to contact
          us at support@flasktweets.com
        </p>
      </div>
    </div>
  </div>
  
  {% endblock %}
  